.viewport {
	background: #ffffff;	
}

.fundo-sala {
	background-image: url(images/sala-opaca.jpg) !important;
	background-repeat: no-repeat;
}

.fundo-vermelho {
	background-image: url(images/sala-vermelha.png) !important;
	background-repeat: no-repeat;
}

.fundo-azul {
	background-image: url(images/sala-azul.png) !important;
	background-repeat: no-repeat;
}

.fundo-verde {
	background-image: url(images/sala-verde.png) !important;
	background-repeat: no-repeat;
}

.fundo-agente-vermelho {
	background-image: url(images/sala-agente-vermelho.png) !important;
	background-repeat: no-repeat;
}

.fundo-agente-azul {
	background-image: url(images/sala-agente-azul.png) !important;
	background-repeat: no-repeat;
}

.fundo-agente-verde {
	background-image: url(images/sala-agente-verde.png) !important;
	background-repeat: no-repeat;
}

.panel-console {
	padding: 10px 10px 10px 2px;
	font-family: monospace;
	font-size: 12;
}

.button-play {
	background-image: url(images/play.png) !important;
}

.button-pause {
	background-image: url(images/pause.png) !important;
}

.button-stop {
	background-image: url(images/stop.png) !important;
}

.button-acelerar {
	background-image: url(images/acelerar.png) !important;
}

.button-retardar {
	background-image: url(images/retardar.png) !important;
}